{% extends 'base.html' %}

{% block content %}
  <h3>Рекрут: {{ object.name }}</h3>
  <p>E-mail: {{ object.email }}</p>
  <p>Возвраст: {{ object.age }}</p>
  <p>Планета: {{ object.habitat_planet }}</p>

  <h3>Ответы:</h3>
  {% for answer in object.recruitanswer_set.all %}
    <div>
      <h4>Вопрос: {{ answer.question }}</h4>
      {% if answer.answer.is_correct %}
        <p style="color: green">Ответ: {{ answer.answer }}</p>
      {% else %}
        <p style="color: red">Ответ: {{ answer.answer }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
