{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <table>
          <thead>
          <tr>
            <th>Имя</th>
            <th>Планета</th>
            <th>Количество Рук Тени</th>
          </tr>
          </thead>

          <tbody>
          {% for obj in object_list %}
            <tr>
              <td><a href="{% url 'sith_detail' obj.pk %}">{{ obj.name }}</a></td>
              <td>{{ obj.learning_planet }}</td>
              <td style="text-align: center">{{ obj.recruit__count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
